button{
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.gs{
    color: white;
    background-color: rgb(121, 82, 179);
}
.download{
    color: rgb(108,117,125);
    border: 2px solid rgb(108,117,125);
}