.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid rgb(214, 214, 214);
    z-index: 1;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu{
    height: 24px;
    color: black;
}
.logo{
    height: 24px;
}
.middle{
    margin-left: 30px;
    width: 0;
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar{
    width: 0;
    font-size: 16px;
    flex: 1;
    padding-left: 10px;
    height: 34px;
    border: 1px solid rgb(211, 210, 210);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: inset 3px 5px 20px rgba(0,0,0,0.15);
}
.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 34px;
    border: 1px solid rgb(211, 210, 210);
    border-right: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}
.search-img, .voice-img{
    height: 24px;
}
.voice-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 6px 10px;
    border: 1px solid rgb(211, 210, 210);
    margin-left: 15px;
    cursor: pointer;
}
.right{
    width: 100px;
    flex: 1;
    max-width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
.icon{
    height: 24px;
}
.profile{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.menu-container,
.youtube-container,
.search-container,
.voice-container,
.upload-container,
.app-container,
.notification-container,
.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.notification-container{
    position: relative;
}
.number{
    width: 10px;
    height: 10px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
.tool-tip{
    font-size: 10px;
    padding: 3px 6px;
    background-color: rgb(210, 210, 210);
    position: absolute;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.menu-container:hover .tool-tip,
.youtube-container:hover .tool-tip,
.search-container:hover .tool-tip,
.voice-container:hover .tool-tip,
.upload-container:hover .tool-tip,
.app-container:hover .tool-tip,
.notification-container:hover .tool-tip,
.profile-container:hover .tool-tip{
    opacity: 1;
}






.sidebar{
    position: fixed;
    background-color: white;
    color: black;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid rgb(214, 214, 214);
    padding-top: 10px;
    z-index: 2;
}
.sidebar-item{
    height: 45px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    transition: background-color 0.15s;
    cursor: pointer;
}
.sidebar .sidebar-item img{
    width: 24px;
}
.sidebar-item-name{
    font-size: 14px;
}
.sidebar-item:hover{
    background-color: rgb(201, 201, 201);
}
@media screen and (max-width:480px){
    .sidebar{
        width: 50px;
    }
    .sidebar-item-name{
        opacity: 0;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .sidebar{
        width: 50px;
    }
    .sidebar-item-name{
        opacity: 0;
    }
}
@media screen and (min-width:769px) and (max-width:1024px){
    .sidebar{
        width: 200px;
    }
}


body{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    display: grid;
    margin: 0px 20px;
}
.youtube{
    padding-top: 55px;
    padding-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 15px;
}
.thumbnail-image{
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}
.time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: 12px;
    padding: 2px 4px;

}
.youtube-card{
    color: black;
    text-decoration: none;
}
.youtube-card .thumbnail-image img{
    width: 100%;
    object-fit: cover;
}
.card-des{
    display: flex;
    align-items: start;
    gap: 10px;
}

.card-des img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
p{
    margin: 0;
    font-size: 12px;
}
.p1{
    margin-bottom: 5px;
}
.card-name{
    font-weight: 600;
    margin-bottom: 10px;
}
.profile-wrapper{
    position: relative;
}
.profile-card{
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 120px;
    position: absolute;
    top: 50px;
    left: 30px;
    border-radius: 5px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2),-3px -5px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.cc:hover ~ .profile-card{
    opacity: 1;
}

.profile-card img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.channel-name{
    font-size: 14px;
    font-weight: 600;
}
.channel-sub{
    font-size: 12px;
}
@media screen and (max-width:480px){
    .youtube{
        grid-template-columns: 1fr;
        padding-left: 50px;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    .youtube{
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
    }
}
@media screen and (min-width:769px) and (max-width: 1024px){
    .youtube{
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 200px;
    }
}
@media screen and (min-width:1025px){
    .youtube{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card-name{
        font-size: 16px;
        line-height: 24px;
    }
    .channel-name,.channel-sub,.p1,.p2{
        font-size: 14px;
    }
}